.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

/* The box that contains the form. Apply to Precesnce and Box component */
.Box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    background-color: white;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    max-width: 400px;
    width: 350px;
    height: fit-content;
    /* max-height: 400px; */
    z-index: 1000;
}

/* Houses all the input groups and buttons (main container) */
.FormStack {
    margin: 30px 0 30px 0;
    align-items: center;
    justify-content: center;
}

.CloseButton {
    color: black;
    position: absolute;
    top: 2px;
    right: 2px;
}

.CloseButton:hover {
    color: white;
}

.Header {
    color: black;
    text-align: center;
}

.Text {
    color: black;
    text-align: center;
    width: 300px;
}

.TextSmall {
    color: black;
    text-align: center;
    width: 300px;
    font-size: small;
}

/* Houses all the input fields */
.InputStack {
    gap: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Houses the input field and label */
.InputFieldRoot {
    width: 300px;
    color: black;
}

.PasswordStrengthMeter {
    width: 300px;
    color: black;
}

/* The input field */
.Input {
    display: flex;
    size: md;
    width: flex;
    color: black;
    outline-color: #ffc106; /* yellow.500 */
}

.ButtonGroup {
    margin-top: 5px;
    display: flex;
    width: 300px;
}

.Button {
    flex: 1;
    margin: 2px;
    size: md;
}